div#gt_float_wrapper {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
}

.gt_float_switcher .gt-selected .gt-current-lang {
    padding: 5px !important;
    color: #333;
    font-weight: bold;
    transform: scale(0.8);
}

.gt_float_switcher .gt_options {
    position: absolute !important;
    background-color: #fff;
    padding: 18px;
    width: max-content;
    max-width: 250px !important;
    left: auto;
    top: calc(100% + 10px);
    border-radius: 4px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, .1);
    max-height: 130px !important;
    height: 130px !important;
    text-align: left;
}

@media screen and (max-width:768px) {
    .gt_float_switcher {
        box-shadow: unset;
    }

    .elementor-92 .elementor-element.elementor-element-c53f60f.elementor-column .elementor-widget-wrap {
        align-content: center;
    }

    .gt_float_switcher {
        box-shadow: unset;
    }

}

@media screen and (max-width:1280px) {
    .elementor-column.elementor-col-33.elementor-top-column.elementor-element.elementor-element-793010ea {
        order: 1;
    }
}

@media screen and (max-width:1280px) {
    .elementor-92 .elementor-element.elementor-element-c53f60f.elementor-column .elementor-widget-wrap {
        align-content: center !important;
    }
}

.gt_float_switcher .gt_options a:hover {
    background-color: var(--e-global-color-accent);
}

@media(max-width:768px) {
    .gt_float_switcher .gt_options {
        right: 20px !important;
        left: unset !important;
    }
}